#page{
    width:100%;
    height:100%;
}
ul {
   list-style:none;
   padding:0;
    
}
li {
    float: center;
}
.block{
    width:80px;
    height:120px;
    position:absolute;
    overflow:hidden;
    margin:0 auto;
}
.block:hover{
    cursor:pointer;
}
.blockImage{
    height:98px;
    width:78px;
    border:1px solid black;
    float:left;
    
}
.blockText{
    width:100%;
    text-align:center;
}
.invisible .blockImage{
    border:0px;
    
}
.invisible .blockText{
    display: none;
}
.spacer{
    position:relative;
    width:50%;
    height:150px;
    margin:0 auto;
}
button{
   /* display:none;   */ 
}