<html ng-app>
<head >
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

   
    <script src="lib/jquery-2.0.3.min.js"></script>
    <script src="lib/jquery.mobile-1.3.1.min.js"></script>
    <script src="lib/angular.min.js"></script>
    <script src="lib/adapter.js"></script>
    <script src="lib/jquery.jsPlumb-1.5.2-min.js"></script>

    <script src="lib/jquery-ui-1.10.3.custom.js"></script>
    <script src="js/test.js"></script>
    <script src="js/solver.js"></script>
        
    <link rel="stylesheet" href="css/jquery.mobile-1.3.1.min.css" />
    <link rel="stylesheet" href="css/objects.css" />
</head>
<body>
    <div data-role="page" id="main">
       
        <!-- HEADER -->
        <div data-role="header">
            <h1>Symulator</h1>
            <a href="#toolbox" data-role="button" data-icon="bars" data-iconpos="notext" data-theme="a" data-inline="true"></a>
        </div>
       
        <div data-role='content' ng-controller="Page" >
            <button ng-click="solve()">a</button>
            <div id="page">
                
                <div ng-repeat="object in objects" class="{{object.type}}" id="{{object.id}}">
                    <span class="blockImage"></span>
                    <span class="blockText">{{object.name}}</span>
                </div>
            </div>
        </div>
    </div>
        
        
</body>
</html>
